torch
torchvision
numpy
opencv-python
pillow
tqdm
timm
einops
easydict
python-dotenv
scipy
scikit-image
scikit-learn
tensorboardX
fvcore
pycocotools
ftfy
omegaconf
regex
termcolor
torchmetrics
ninja
packaging
